body {
  background-color: whitesmoke;
}

#title img {
  max-width: 250px;
}

.buttonBlock {
  display: block;
  width: 250px;
  border: none;
  border-color: lightcoral;
  background-color: white;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.buttonBlock:hover {
  background-color: lightcoral;
  color: black;
}

#forecastCard {
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
