body {
  background-color: white;
}

#title img {
  max-width: 300px;
}

#forecastOuter {
  height: 300px;
  background-color: lightblue;
  border-radius: 5%;
  padding: 10px;
  text-align: center;
}
