body {
  background-color: white;
}

#title img {
  max-width: 300px;
}

#forecastOuter {
  height: 300px;
  background-color: lightblue;
  border-radius: 5%;
  padding: 10px 20px;
  text-align: center;
}

#forecastInner {
  height: 200px;
  background-color: lightcoral;
  border-radius: 5%;
  padding: 20px;
  text-align: center;
}
